<table class="table">

  <tr>
    <th>Name</th>
    <th>AVG</th>
    <th>HR</th>
    <th>RBI</th>
    <th>Runs</th>
    <th>SB</th>
    <th>OPS</th>
  </tr>
    <% @players.each do |player| %>
      <tr>
        <td><%= player.name.titleize %></td>
        <td><%= player.average %></td>
        <td><%= player.hr %></td>
        <td><%= player.rbi %></td>
        <td><%= player.runs %></td>
        <td><%= player.sb %></td>
        <td><%= player.ops %></td>
      </tr>
    <% end %>

</table>